think-in-spring/src/main/resources/META-INF/spring-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.test.org/schema/user"
        elementFormDefault="qualified">

    <!--XSD 文件是 XML DTD 的代替者，使用 XML Schema 编写-->
    <element name="user">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="userName" type="string"/>
            <attribute name="email" type="string"/>
        </complexType>
    </element>
</schema>